#wrapper {
    margin: 30px auto;
    width: 600px;
    height: 400px;
    border: 2px solid pink;
}
#startTime {
    background-color: purple;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    color: white;
    margin-left: 220px;
    margin-top: 50px;
}
#questionsDiv {
    margin: 20px;
}

#currentTime {
    float: right;
}

#goBack {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 15px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}



#clear {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 15px;
    color: white;
}

button {
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: purple;
    margin-left: 42%;
    padding: 10px;
    font-size: 15px;
    color: white;
}

label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color: purple;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

#createDiv {
    margin-top: 50px;
   
}

@media screen and (max-width: 786px) {

body {
    max-width: 786px;
}

#wrapper {
position: absolute;
left: 20%;
}

a {
margin-left: 20%;
}
#goBack {
    
    position: relative;
    left: 55%;
}

#clear {
    
    position: relative;
    right: 5%;
    
}
}


@media screen and (max-width: 640px) {

body {
    min-width: 640px;
}

#wrapper {
position: absolute;
left: 10%;
}
a {
  margin-left: 10%;
}


}
